/* Coolors Exported Palette - coolors.co/ed6a5a-f4f1bb-9bc1bc-5d576b-e6ebe0 */

/* RGB */
$terra-cotta: rgba(237, 106, 90, 1);
$blond: rgba(244, 241, 187, 1);
$cambridge-blue: rgba(155, 193, 188, 1);
$black-coral: rgba(93, 87, 107, 1);
$platinum: rgba(230, 235, 224, 1);
